image: python:3.11

pipelines:
  default:
    - parallel:
      - step:
          name: 'Build and Test'
          script:
            - pip install --upgrade pip
            - pip install pytest amqtt asyncio paho-mqtt pytest-timeout fastapi uvicorn python-multipart httpx
            - pytest -v -s
      - step:
          name: 'Lint'
          script:
            - echo "Your linting goes here..."
      - step:
          name: 'Security scan'
          script:
            - echo "Your security scan goes here..."

    - step:
        name: 'Deployment to Staging'
        deployment: staging
        script:
          - echo "Your deployment to staging script goes here..."
    - step:
        name: 'Deployment to Production'
        deployment: production
        trigger: 'manual'
        script:
          - echo "Your deployment to production script goes here..."
